.container{
    display: grid;
    gap: 10px;
    width: 900px;
    margin: 250px auto;
    grid-template-columns: 2fr 3fr 1fr;
}
.grid{
    padding: 20px;
    background-color: yellow;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.nav{
    grid-row-start: 2;
    grid-row-end: 4;
}
.article{
    grid-column-start: 2;
    grid-column-end: 3;
}
.ads{
    grid-column-start: 3;
    grid-column-end: 4;
}
.footer{
    grid-column-start: 2;
    grid-column-end: 4; 
}