.container{
    width: 1000px;
    margin: 250px auto;
    display: grid;
    gap: 5px;
    grid-template-columns: 2fr 3fr 1fr;
}
.grid-item{
    padding: 20px;
    background-color: yellow;
    text-align: center;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.navbar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.article{
    grid-column-start: 2;
    grid-column-end: 3;
}
.ads{
    grid-column-start: 3;
    grid-column-end: 4;
}
.footer{
    grid-column-start: 2;
    grid-column-end: 4;
}