.container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    background-color: rgb(70, 70, 119);
}
.gridItem{
    padding: 20px;
    gap: 10px;
}
img{
    width: 20px;
    height: 25px;
}