.wrap {
    width: 1200px;
    margin: 0 auto;
}

.form-group {
    width: 500px;
    margin: auto;
    box-shadow: 0 0 10px rgba(80, 80, 80, 0.2);
    padding: 1rem 1.2rem;
    box-sizing: border-box;
    text-align: end;
}

input {
    width: 60%;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 60px;
    margin-left: 10px;

}

label {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
}

select {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 50px;
    height: 30px;
}

.uzb {
    width: 278px;
    margin-right: 60px;
    margin-left: 10px;
}

input[type=submit] {
    display: block;
    margin: 20px auto;
    background-color: #45bd42;
    color: #fff;
    border-color: #44ab41;
}

.kun {
    display: flex;
    justify-content: space-evenly;
    margin-right: 60px;
    gap: 15px;
}

/* .data {
    margin-right: 60px;
    margin-left: 10px;
} */
.w{
    width: 70px;
    
}